In [1]:
from platform import python_version
print('Python Language Version Used In This Jupyter Notebook:', python_version())

Python Language Version Used In This Jupyter Notebook: 3.7.13

## Lists

In [2]:
# Creating a list
marketlist = ["eggs, flour, milk, apples"]

In [3]:
# Printing the list
print(marketlist)

['eggs, flour, milk, apples']

In [7]:
# Creating another list
marketlist2 = ["eggs", "flour", "milk", "apples"]

In [8]:
# Printing the list
print(marketlist2)

['eggs', 'flour', 'milk', 'apples']

In [9]:
# creating list
list3 = [12, 100, "University"]

In [10]:
# printing
print(list3)

[12, 100, 'University']

In [11]:
list3 = [12, 100, "University"]

In [12]:
# Assigning each value in the list to a variable.
item1 = list3[0]
item2 = list3[1]
item3 = list3[2]

In [13]:
# Printing the variables
print(item1, item2, item3)

12 100 University

### Updating a list item

In [17]:
# Printing an item from the list
marketlist2[2]

'chocolate'

In [18]:
# Updating a list item
marketlist2[2] = "chocolate"

In [20]:
# Printing altered list
marketlist2

['eggs', 'flour', 'chocolate', 'apples']

### Deleting an item from the list

In [23]:
# Out of index. Cannot delete an item that does not exist in the list
del marketlist2[4]

IndexError: list assignment index out of range

In [24]:
# Deleting a specific item from the list
del marketlist2[3]

In [25]:
# Printing the item with the changed list
marketlist2

['eggs', 'flour', 'chocolate']

### Lists of Lists (Nested Lists)
Lists of lists are arrays in Python

In [26]:
# Creating a list of lists
lists = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [27]:
# Printing the list
lists

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [28]:
# Assigning a list item to a variable
a = lists[0]

In [29]:
a

[1, 2, 3]

In [30]:
b = a[0]

In [31]:
b

1

In [34]:
list1 = lists[1]

In [35]:
lists

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
valor_1_0 = list1[0]

In [37]:
valor_1_0

10

In [38]:
valor_1_2 = list1[2]

In [39]:
valor_1_2

14

In [42]:
list2 = lists[2]

In [43]:
list2

[10.1, 8.7, 2.3]

In [44]:
valor_2_0 = list2[0]

In [45]:
valor_2_0

10.1

### List operations

In [46]:
# Creating a nested list (list of lists)
lists = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [49]:
lists

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [50]:
# Assigning to variable a, the first value of the first list
a = lists[0][0]

In [51]:
a

1

In [55]:
b = lists[1][2]

In [56]:
b

14

In [59]:
c = lists[0][2] + 10

In [60]:
c

13

In [61]:
d = 10

In [62]:
d

10

In [65]:
e = d * lists[2][0]

In [66]:
e

101.0

### Concatenating lists

In [67]:
list_s1 = [34, 32, 56]

In [68]:
list_s1

[34, 32, 56]

In [69]:
list_s2 = [21, 90, 51]

In [70]:
list_s2

[21, 90, 51]

In [71]:
# Concatenating lists
list_total = list_s1 + list_s2

In [72]:
list_total

[34, 32, 56, 21, 90, 51]

## in operator

In [73]:
# Creating a list
op_test_list = [100, 2, -5, 3.4]

In [74]:
# Checking if the value 10 belongs to the list
print(10 in op_test_list)

False

In [76]:

print(100 in op_test_list)

True

## Built-in Functions

In [77]:
# len() function returns the length of the list
len(op_test_list)

4

In [78]:
# max() function returns the maximum value of the list
max(op_test_list)

100

In [81]:
# min() function returns the minimum value of the list
min(op_test_list)

-5

In [85]:
# Creating a list
marketlist2 = ["eggs", "flour", "milk", "apples"]

In [86]:
# Adding an item to the list
marketlist2.append("meat")

In [87]:
marketlist2

['eggs', 'flour', 'milk', 'apples', 'meat']

In [88]:
marketlist2.append("carne")

In [89]:
marketlist2

['eggs', 'flour', 'milk', 'apples', 'meat', 'carne']

In [90]:
marketlist2.count("carne")

1

In [91]:
# Creating an empty list
a = []

In [92]:
print(a)

[]

In [93]:
type(a)

list

In [94]:
a.append(10)

In [95]:
a

[10]

In [96]:
a.append(50)

In [97]:
a

[10, 50]

In [98]:
old_list = [1,2,5,10]

In [99]:
new_list = []

In [100]:
# Copying items from one list to another
for item in old_list:
     new_list.append(item)

In [101]:
new_list

[1, 2, 5, 10]

In [102]:
c = [20,30]

In [103]:
c.append(60)

In [104]:
c.append(70)

In [105]:
c

[20, 30, 60, 70]

In [106]:
c.count(20)

1

In [112]:
cities = ['Recife', 'Manaus', 'Salvador', 'Deep Neuron AI']
cities.extend(['Fortress', 'Palmas'])
print (cities)

['Recife', 'Manaus', 'Salvador', 'Deep Neuron AI', 'Fortress', 'Palmas']

In [113]:
cities.index('Salvador')

2

In [114]:
cities.index('Deep Neuron AI')

3

In [115]:
cities

['Recife', 'Manaus', 'Salvador', 'Deep Neuron AI', 'Fortress', 'Palmas']

In [116]:
cities.insert(2, 110)

In [117]:
cities

['Recife', 'Manaus', 110, 'Salvador', 'Deep Neuron AI', 'Fortress', 'Palmas']

In [118]:
# Remove an item from the list
cities.remove(110)

In [119]:
cities

['Recife', 'Manaus', 'Salvador', 'Deep Neuron AI', 'Fortress', 'Palmas']

In [120]:
# Revert to list
cities.reverse()

In [121]:
# print the list
cities

['Palmas', 'Fortress', 'Deep Neuron AI', 'Salvador', 'Manaus', 'Recife']

In [122]:
x = [3, 4, 2, 1]

In [123]:
x

[3, 4, 2, 1]

In [124]:
# Sort to list
x.sort()

In [125]:
x

[1, 2, 3, 4]