### 1 Create a numpy structured array using the emp.csv file available in common folder.
#### 1.1 display all the records.
#### 1.2 display names of officers.
#### 1.3 display all the scientists records.
#### 1.4 display the total salary.
#### 1.5 display average salary of engineers.
#### 1.6 display employees in the ascending order of salary.
#### 1.7 display employees in the ascending order of designation and then salary.
#### 1.8 display the lowest salary for scientist designation.
#### 1.9 display records of employees who are scientists and are drawing the lowest salary(without using sort).

In [1]:
import numpy as np

In [2]:
datype = np.dtype({'names': ['ename','eno','edesign','esal','ephone'],'formats':['S20','i8','S20','f8','S20']})

atf = np.loadtxt('emp.csv',delimiter=',',skiprows=1,dtype=datype)

### np.loadtxt vs pandas

In [3]:
import pandas as pd

dd = pd.read_csv('emp.csv')
temp = dd.values

print(type(temp))
print(temp.shape)

print(temp)

print(type(atf))
print(atf.shape)

print(atf)

<class 'numpy.ndarray'>
(10, 5)
[['K.Raj' 101 'scientist' 50000.0 '(0493)-2287278']
 ['Mohan Raj M.' 102 'engineer' 50000.0 '[0496]-2287278']
 ['M.Ram' 104 'scientist' 80000.0 '(0491)-4287275']
 ['Ram Kumar' 104 'scientist' 60000.0 '(0491)-4287335']
 ['Mohan Babu K.K.' 106 'officer' 50000.0 '{0496}-2387278']
 ['K.Gopal' 107 'scientist' 50000.0 '(0493)-2287278']
 ['Anil Raj M.' 108 'engineer' 50000.0 '{0496]-2287278']
 ['Amala P.' 201 'scientist' 70000.0 '(0498)-9287275']
 ['Uma ' 204 'officer' 60000.0 '(0491)-4287335']
 ['Suma' 206 'engineer' 50000.0 '0496_2387278']]
<class 'numpy.ndarray'>
(10,)
[(b'K.Raj', 101, b'scientist', 50000., b'(0493)-2287278')
 (b'Mohan Raj M.', 102, b'engineer', 50000., b'[0496]-2287278')
 (b'M.Ram', 104, b'scientist', 80000., b'(0491)-4287275')
 (b'Ram Kumar', 104, b'scientist', 60000., b'(0491)-4287335')
 (b'Mohan Babu K.K.', 106, b'officer', 50000., b'{0496}-2387278')
 (b'K.Gopal', 107, b'scientist', 50000., b'(0493)-2287278')
 (b'Anil Raj M.', 108, b'engineer', 50000., b'{0496]-2287278')
 (b'Amala P.', 201, b'scientist', 70000., b'(0498)-9287275')
 (b'Uma ', 204, b'officer', 60000., b'(0491)-4287335')
 (b'Suma', 206, b'engineer', 50000., b'0496_2387278')]

In [4]:
# names of officers
atf['ename']

array([b'K.Raj', b'Mohan Raj M.', b'M.Ram', b'Ram Kumar',
       b'Mohan Babu K.K.', b'K.Gopal', b'Anil Raj M.', b'Amala P.',
       b'Uma ', b'Suma'], dtype='|S20')

In [5]:
# scientists records
atf[atf['edesign'] == 'scientist']

array([], shape=(0, 10),
      dtype=[('ename', 'S20'), ('eno', '<i8'), ('edesign', 'S20'), ('esal', '<f8'), ('ephone', 'S20')])

In [6]:
# total salary
atf['esal'].sum()

570000.0

In [7]:
# test reversal :: op
l1 = [1,2,3,4]
l1[::-1]

[4, 3, 2, 1]

In [8]:
#  employees in the ascending order of salary
atf.sort(order='esal')
print(atf)

[(b'Anil Raj M.', 108, b'engineer', 50000., b'{0496]-2287278')
 (b'K.Gopal', 107, b'scientist', 50000., b'(0493)-2287278')
 (b'K.Raj', 101, b'scientist', 50000., b'(0493)-2287278')
 (b'Mohan Babu K.K.', 106, b'officer', 50000., b'{0496}-2387278')
 (b'Mohan Raj M.', 102, b'engineer', 50000., b'[0496]-2287278')
 (b'Suma', 206, b'engineer', 50000., b'0496_2387278')
 (b'Ram Kumar', 104, b'scientist', 60000., b'(0491)-4287335')
 (b'Uma ', 204, b'officer', 60000., b'(0491)-4287335')
 (b'Amala P.', 201, b'scientist', 70000., b'(0498)-9287275')
 (b'M.Ram', 104, b'scientist', 80000., b'(0491)-4287275')]

In [9]:
# employees in the ascending order of designation and then salary.